<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
</head>

<body>
    <header>
        <img width="100" src="img/batman-logo.png" alt="Logo Batman">
        <ul>
            <li>Héroes</li>
            <li>Contacto</li>
            <li>Series</li>
        </ul>
    </header>
    <main>
        <section>
            <article>
                <h3> Serie 1</h3>
                <img src="" alt="imagen de la serie">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat asperiores dolores sint eligendi
                    modi nisi minus temporibus recusandae reprehenderit. Aspernatur minima iure dolorum fugiat nihil
                    labore ratione repellendus. Omnis, enim!</p>

            </article>
            <article>
                <h3> Serie 2</h3>
                <img src="" alt="imagen de la serie">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat asperiores dolores sint eligendi
                    modi nisi minus temporibus recusandae reprehenderit. Aspernatur minima iure dolorum fugiat nihil
                    labore ratione repellendus. Omnis, enim!</p>

            </article>
        </section>
    </main>
    <footer>
        <img src="" alt="logo de final de página">
        <ul>
            <li>link 1</li>
            <li>link 2</li>
            <li>link 3</li>
        </ul>
    </footer>
</body>

</html>